# Complex Data Types (List ,Tuples,Dictionary)

#                                                List

# List is a container wich is used to store collection of object which can accessed by a single name.
# we can get data based on the index of the list

In [6]:
# List index always start from Zero onwards.
sports = ["cricket", "footabll", "volleyball"]
sports[0] # this will print the cricket
sports[2] # this will print the volleyball

'volleyball'

In [9]:
# modifying the List values
sports[1] = "hockey"
sports

['cricket', 'hockey', 'volleyball']

In [10]:
# List Operations
# 1. append , if u want add another sports to the current sports list
sports.append("tennies")
sports

['cricket', 'hockey', 'volleyball', 'tennies']

In [26]:
# 2. Insert operation, using this we can insert a value wherever we want 
sports.insert(1,"football")
sports

['cricket',
 'football',
 'football',
 'football',
 'football',
 'hockey',
 'volleyball',
 'tennies']

In [29]:
# 3. Remove , It will remove the particular value from the list.
sports.remove("volleyball")
sports

['cricket', 'football', 'football', 'hockey', 'tennies']

In [31]:
# 4. Sort, sort in ASC or Desc Alphabets and numeric both
sports.sort()
sports

['cricket', 'football', 'football', 'hockey', 'tennies']

In [35]:
# 5. reverse , it will print the list in reverse order.+
sports.reverse()
sports

['football', 'hockey', 'tennies']

In [34]:
# 6. pop , it will fetch the last element of list , return that element  and delete that element from the list.
sports.pop()
sports

'football'

In [36]:
# example of List operation
friends = ["ravi","sankar", "dev", "manu","sunil"]
friends

['ravi', 'sankar', 'dev', 'manu', 'sunil']

In [37]:
friends.append("anji")
friends

['ravi', 'sankar', 'dev', 'manu', 'sunil', 'anji']

In [38]:
friends.insert(1,"venky")
friends

['ravi', 'venky', 'sankar', 'dev', 'manu', 'sunil', 'anji']

In [39]:
friends.remove("venky")
friends

['ravi', 'sankar', 'dev', 'manu', 'sunil', 'anji']

In [40]:
friends.sort()
friends

['anji', 'dev', 'manu', 'ravi', 'sankar', 'sunil']

In [41]:
friends.pop()

'sunil'

In [42]:
friends

['anji', 'dev', 'manu', 'ravi', 'sankar']

In [43]:
friends.reverse()
friends

['sankar', 'ravi', 'manu', 'dev', 'anji']

#  Tuples

In [44]:
# tuples is a collection of immutable objects .
# take example of students in a classes . List is used for modifing of elements like student marks like that but 
#Tuples is used for DOB  which is permanent non-changable value type of things

In [45]:
#TUPLE_NAME = {OBJECT1, OBJECT2, OBJECT3}
# tuple to store the start dates of world warI and world warII.These are historic dates they wont change
historicWarDates = {1914,1939}
historicWarDates

{1914, 1939}

In [46]:
# we cannot modify the content 
historicWarDates[1]

TypeError: 'set' object does not support indexing

In [47]:
# how to delete a  tuple
del(historicWarDates)

In [48]:
historicWarDates

NameError: name 'historicWarDates' is not defined

# Dictionary

In [49]:
# Dictionary is a collection of key value pair , similar to list.
# storing the conacts of friends ( friend_name, 12453745) which is like key value pair.
# in odrer to acces the dictinary we need to speficy the key .
# dictonary_name = {key1:value1, key2:value2, .......}

In [50]:
# Dictionary to map the price of a camera to its brand
priceOfCameras = {"sony":500, "canon":600, "nikon":700}
priceOfCameras

{'canon': 600, 'nikon': 700, 'sony': 500}

In [52]:
# how to acces the dictionaries
priceOfCameras["sony"]

500

In [54]:
# how to update the dictionaries
priceOfCameras["nikon"] = 800
priceOfCameras["nikon"]

800

In [56]:
# operations of dictionary
# 1. How to print all keys in a dictionary
priceOfCameras.keys()

dict_keys(['sony', 'canon', 'nikon'])

In [58]:
# 2. How to print all values in a dictionary
priceOfCameras.values()

dict_values([500, 600, 800])

In [59]:
# 3. how to copy one dictionary into another dictionary
copyOfpriceOfCameras = priceOfCameras.copy()
copyOfpriceOfCameras

{'canon': 600, 'nikon': 800, 'sony': 500}

In [67]:
# 4. how to delete a key value pair
del priceOfCameras["nikon"]
priceOfCameras

{'canon': 600}

In [68]:
# 5. how to clear the dictionary
priceOfCameras.clear()
priceOfCameras

{}